/* MENU */
#cabecalho {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.2)), url("../assets/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    margin-bottom: 50px;
}
#menu {
    background-color: transparent;
}
#btn-pesquisa {
    background-color: var(--cor3);
    color: var(--cor1);
    border: 2px solid var(--cor3);
}
#btn-pesquisa:hover {
    background-color: var(--cor1);
    color: var(--cor3);
    border: 2px solid var(--cor1);
}
#banner {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    align-items: center;
    color: var(--cor1)
}
#banner h1 {
    transform: translateY(-35px);
    font-size: 35pt;
}

/* GRADE DE LIVROS */
#livros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
}
.swiper-div {
    position: relative;
    width: 95vw;
    max-width: 1600px;
}
.categoria {
    border-left: 3px solid var(--cor3);
    padding-left: 10px;
    margin: 0 0 20px 85px;
    font-size: 20pt;
}
.swiper-container {
    position: relative;
    display: flex;
    width: 85vw;
    height: 330px;
    max-width: 1500px;
    margin: 30px auto 0 auto;
    overflow: hidden;
}
.se
.swiper-slide {
    display: flex;
    align-items: center;
    text-align: center;
}
.swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--cor2);
    transition: .5s;
}
#capa-livro {
    margin: 15px 0;
    width: 150px;
    transition: .5s;
}
#capa-livro:hover {
    margin-top: 0px;
    width: 170px;
}
#titulo-livro {
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 1s;
}
.swiper-button-next, .swiper-button-prev {
    display: flex;
    color: var(--cor2);
}
.swiper-pagination-bullet {
    background: var(--cor2);
}
