@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-fundo: white;
    --cor-texto: black;
    --cor-erro: red;
    --cor1: black;
    --cor2: lightgray;
    --cor3: rgb(160, 160, 160);
}

html, body{
    padding: 0;
    margin: 0;
    user-select: none;
    color: var(--cor1);
    background-color: var(--cor-fundo);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 12pt;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FORMULÁRIO */
form {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 30px auto 30px auto;
}
fieldset {
    position: relative;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
legend {
    margin: 0 auto;
    font-size:18pt;
}
#enviar {
    width: 40%;
    font-size: 12pt;
    border: 2px solid var(--cor2);
    background-color: transparent;
    border-radius: 8px;
    padding: px 0;
    font-family: 'Montserrat', sans-serif;
    transition: .8s;
    color: var(--cor1);
}
#enviar:hover {
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    border: 2px solid var(--cor1);
    color: var(--cor1);
}
input::placeholder {
    color: transparent;
}
input {
    width: 95%;
    border-radius: 8px;
    font-size: 12pt;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px;
    border: 1px solid var(--cor2);
    font-family: 'Montserrat', sans-serif;
    transition: .5s;
}
label {
    position: absolute;
    left: 29px;
    font-size: 12pt;
    margin-top: 16px;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label, input:valid ~ label {
    margin-left: -5px;
    margin-top: -5px;
    font-size: 9pt;
}
input:not(:placeholder-shown):invalid ~ label {
    margin-left: -5px;
    margin-top: -5px;
    font-size: 9pt;
    color: var(--cor-erro);
}
input:not(:placeholder-shown):invalid {
    border-color: var(--cor-erro);
}

/*Tabela*/
table {
    display: none;
    border-collapse: collapse;
}
th, td {
    padding: 10px 15px;
    border: 1px solid var(--cor3);
    text-align: center;
}
th {
    background-color: var(--cor2);
}
